html, body {
    height: 100%; /* Asegura que el html y el body ocupen toda la altura de la ventana */
    margin: 0; 
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-image: url('tenor.gif'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    text-align: center;
    padding: 0 20px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
  }
  
  h1 {
    color: #ff0505;
  }
  
  .pokemonInput {
    width: 300px; 
    padding: 10px; 
    border: 2px solid #ff0505; 
    border-radius: 5px; 
    margin: 10px auto; 
  }
  
  button {
    width: 300px;
    margin: 10px auto;
    padding: 10px 20px; 
    background-color: #ff0505; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold; 
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap; 
  }
  
  .card {
    background-color: #ffecec80; /* Fondo blanco con baja opacidad */
    border: 2px solid #ff0505;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 100%; 
    max-width: 300px; /* Ancho máximo en pantallas grandes */
    padding: 15px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    max-height: 75vh;
    box-sizing: border-box;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05); /* Efecto hover */
  }
  
  .card img {
    width: 70%; /* La imagen ocupa el 70% del ancho de la tarjeta */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block;
    margin: 0 auto; /* Centrar la imagen horizontalmente */
    border-radius: 8px;
  }
  
  .card h2 {
    margin: 10px 0;
    font-size: 22px; /* Ajustar el tamaño del título */
    color: #333;
  }
  
  .card p {
    font-size: 1.1em; /* Ajustar el tamaño de los textos */
    color: #555;
  }
  
  .card .type {
    background-color: #d9fa23;
    border-radius: 4px;
    padding: 4px 8px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold; 
  }