html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url('tenor.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5vw;
  height: 100vh;
}

.buscarPokemon {
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 500px; /* Limita el ancho máximo */
  margin: 0 auto; /* Centra el contenedor */
  text-align: center; /* Centra el texto */
}

h1 {
  color: #ff0505;
  font-size: 1.8rem; /* Tamaño de fuente más controlado */
  margin-top: 2rem; /* Agrega margen superior */
  margin-bottom: 1rem; /* Agrega margen inferior */
  white-space: nowrap; /* Evita que se rompa en varias líneas */
  overflow: hidden; /* Oculta el desbordamiento */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si se corta */
}

.pokemonInput, 
button {
  width: 100%; /* Asegura que el input y el botón ocupen todo el ancho */
  max-width: 300px; /* Limita el tamaño en pantallas más grandes */
}

.pokemonInput {
  padding: 0.5rem;
  border: 2px solid #ff0505;
  border-radius: 5px;
  margin: 1rem auto;
  font-size: 1rem;
}

button {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  background-color: #ff0505;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  flex-wrap: wrap;
}

.card {
  background-color: #ffecec80;
  border: 2px solid #ff0505;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 300px;
  padding: 1rem;
  margin: 1rem;
  transition: transform 0.3s;
  box-sizing: border-box;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 70%; 
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.card h2 {
  margin: 0.5rem 0;
  font-size: 1.5rem; 
  color: #333;
}

.card p {
  font-size: 1.1rem;
  color: #555;
}

.card .type {
  background-color: #d9fa23;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}
